.trustedBy{
    height: 60px;
    background-color: #f4efef;
    display: flex;
    justify-content: center;


    .container{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: #f1eded;
        font-size: 12px;
        font-weight: 500;
        color: lightgray ;

        img{
            width: 50px;
            object-fit: contain;
        }
    }
}