.trustedBy{
    height: 25vh;
    background-color: #f4efef;
    display: flex;
    justify-content: center;


    .container{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vw;
        color: #f1eded;
        font-size: 1.3rem;
        font-weight: 500;
        color: lightgray ;

        img{
            width: 10vw;
            object-fit: contain;
        }
    }
}