.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  transition: 1s all ease;
  position: sticky;
  top: 0;
  z-index: 999;

  &.active {
    background-color: white;
    color: #404145;
  }
  .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    .logo {
      font-size: 34px;
      font-weight: bold;
      .text {
      }

      .dot {
        color: #1dbf73;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 16px;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;

      button {
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid white;
        background-color: transparent;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }

         span {
             cursor: pointer;
         }

      .user {
        position: relative;

        display: flex;
        align-items: center;
        gap: 6px;

        img {
          width: 25px;
          height: 25px;
          object-fit: cover;
          border-radius: 50%;
          cursor: pointer;
        }
        span {
            cursor: pointer;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;

          width: 100%;
          background-color: white;
          color: lightgray;
          font-size: 12px;
          border-radius: 10px;
          border: 1px solid lightgray;

          display: flex;
          flex-direction: column;
        padding: 12px;
          gap: 4px;

          span {
            cursor: pointer;
          }
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid lightgray;
  }

  .menu {
    display: flex;
    width: 80%;
    padding: 10px 0px;
    font-weight: 300;
    justify-content: space-around;
    color: gray;
    font-family: "Montserrat", sans-serif;

    font-size: 12px;
  }
}
