.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      gap: 5vw;
      justify-content: space-between;

      .item {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          font-size: 14px;
          color: #4e4c4c;
        }

        span {
          font-size: 12px;
          color: gray;
        }
      }
    }
    hr {
      border: 1px solid lightgray;
      width: 80vw;
      margin: 30px 0px;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      .left {
        display: flex;
        align-items: center;
        gap: 10px;
        color: lightgray;

        h2 {
          font-size: 18px;
        }

        span {
          font-size: 11px;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          width: 20px;
          height: 20px;
        }

        .social {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .link {
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            color: lightgray;
            font-size: 14px;
          }
        }
      }
    }
  }
}
